/* begin: /resources/css/app/components/alerts.css */

/* stylelint-disable no-descending-specificity */
.alert {
  @apply w-full flex items-center justify-between z-10 fixed rounded-b shadow;
  top: 3.5rem;
}

.alert-button {
  @apply border-l py-1 appearance-none;

  & i {
    @apply text-base py-1 px-2 md:px-4;
  }
}

.alert-content {
  @apply text-sm font-medium flex items-center;
}

.alert-icon {
  @apply text-lg py-1 px-2 md:text-xl md:px-3;
}

.alert-success {
  @apply bg-green-200 text-green-700 border-t border-green-400;

  & .alert-button {
    @apply border-green-300;

    &:hover {
      @apply bg-green-300 rounded-br;
      color: #fff;
    }
  }
}

.alert-info {
  @apply bg-blue-200 text-blue-700 border-t border-blue-400;

  & .alert-button {
    @apply border-blue-400;

    &:hover {
      @apply bg-blue-300 rounded-br;
      color: #fff;
    }
  }
}

.alert-warning {
  /* @apply bg-yellow-300 text-yellow-900 border-t border-yellow-500; */
  @apply bg-yellow-200 text-yellow-800;

  & .alert-button {
    @apply border-yellow-300;

    &:hover {
      @apply bg-yellow-300 rounded-br;
      color: #fff;
    }
  }
}

.alert-error {
  /* @apply bg-red-300 text-red-900 border-t border-red-500; */
  @apply bg-red-300 text-red-900;

  & .alert-button {
    @apply border-red-400;

    &:hover {
      @apply bg-red-400 rounded-br;
      color: #fff;
    }
  }
}
/* stylelint-enable */

/* /end: /resources/css/app/components/alerts.css */
